<h1 id="title">LYRIC RATER!</h1>
<div id="infoDiv">
	<h2 id="logininfo">{{username}}</h2>
</div>
<style>
	#logininfo,#instructions{
		display: {{login}};
	}
	#loginDiv{
		display:{{register}};
	}
</style>
<div id="infoWrapper">
	<div id="loginDiv">
		<form action="/register" method="POST" id="access" class="noselect">
			<h1 id="accessText">REGISTER</h1>
			<h3 id="regSwitch" class="hvr-buzz">(LOGIN?)</h3>
			<input id="userLog" type="text" placeholder="USERNAME" name="username">
			<input id="passLog" type="text" placeholder="PASSWORD"  name="password">
			<button id="accessBttn">SUBMIT</button>
		</form>
	</div>
	<div id=heading>
		<div id="instructions">
			<h2>***instructions***</h2>
			<p>1) Please read the lyrics below and make sure you understand them before continuing.</p>
			<p>2) Try to be as unbiased as possible and try to read from the perspective of the Author</p>
			<p>(If you'd prefer a different song to rate, refresh the page!)</p>
		</div>
	</div>
</div>
<div id="outputDiv">
	{{#if results}}
		<h2 id="sName">{{title}}</h2>
		<h3>BY: {{artist}}</h3>
		{{#each results as |verse|}}
			<p>
				{{#each verse as |line|}}
					<li>
						{{line}}
					</li>
				{{/each}}
			</p>
		{{/each}}
		<form id="render" action="/survey">
			<button id="surveyBttn">CONTINUE</button>
		</form>
		
	{{/if}}
</div>

